/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 40px;
    flex-direction: column;
}

form {
    width: 100%;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form input {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

form input:focus {
    outline: none;
    border-color: #007bff;
    background-color: #ffffff;
}

form button {
    width: 100%;
    padding: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Стили для Room Entry */
#room-entry {
    width: 30%;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#room-entry h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

#room-entry input {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    background-color: #f9f9f9;
}

#room-entry button {
    width: 100%;
    padding: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#room-entry button:hover {
    background-color: #218838;
}

#user-info {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

#user-info span {
    font-weight: bold;
    color: #007bff;
}

/* Ссылки для переключения */
.switch-auth {
    text-align: center;
    margin-top: 10px;
}

.switch-auth a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.switch-auth a:hover {
    color: #0056b3;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    #auth-container {
        width: 90%;
    }

    form {
        width: 100%;
    }

    #room-entry {
        width: 100%;
    }
}
